.navbar-div {
    height: 50px;
    color: #fff;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 50px;
    flex: none;
    font-size: 20px;
}
